---
name: crate-gc-admin

on:
  - pull_request

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  lint-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        name: Setup Node
        with:
          node-version-file: .nvmrc
          registry-url: https://registry.npmjs.org/
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --immutable --immutable-cache

      - name: Restore ESLint Cache
        uses: actions/cache@v4
        with:
          path: .eslintcache
          key: eslint-${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}-${{ github.sha }}
          restore-keys: |
            eslint-${{ runner.os }}-${{ hashFiles('yarn.lock') }}-
            eslint-${{ runner.os }}-

      - name: Lint and Build
        # Running these in one job saves VM startup time
        run: |
          yarn lint --cache --cache-location .eslintcache
          yarn build
          yarn build-lib

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --immutable --immutable-cache

      - name: Run component tests
        run: yarn test
